* {
  box-sizing: border-box;
}

input {
  margin: 0.25rem;
}

.input {
  border: 1px solid #aaa;
  outline: none;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 0.2em;
}

.input:focus {
  border-color: #00aaff;
  box-shadow: 0 0 5px 0 #00aaff;
}

.input-success {
  border-color: #27ae60;
}

.input-success:focus {
  border-color: #00ff00;
  box-shadow: 0 0 5px 0 #00ff00;
}

.input-error {
  border-color: #eb5757;
}

.input-error:focus {
  border-color: #ff0000;
  box-shadow: 0 0 5px 0 #ff0000;
}

.input-large {
  font-size: 1.25rem;
}

.input-small {
  font-size: 0.75rem;
}

.input:disabled {
  background-color: #eaeaea;
}
